# Entorno (development|production|test)
NODE_ENV=
# Puerto de la aplicación
APP_PORT=

# Base de datos
DB_HOST=
DB_PORT=
DB_USER=
DB_NAME=
DB_PASS=

 
MICROSERVICE_SOCKET_URL= #======> Url microservice_socket

DIRECTION_API= #======> Url backend_direcciones

MICROSERVICE_AUTH_API= #======> Url microservice_auth
MICROSERVICE_AUTH_API_KEY= #======> APIKEY

SECRET_JWT_KEY=

APP_WHITELIST=   #===> "url,url,url"

